html, body{
    height:100%;
    margin: 0;
}
#frame{
    height:100%;
}
#game-panel{
    height:70%;
    border-style: solid;
    border-color: red;
}

#control-panel-frame{
    height:30%;
    border-style: solid;
    border-color: blue;
}
#control-panel{
    border-style: solid;
    border-color: blue;
}